@model BTH_06.Models.Learner

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Bạn có chắc chắn muốn xóa học viên này?</h3>
<div>
    <h4>Learner</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Mã Học Viên
        </dt>
        <dd class="col-sm-10">
            @Model.LearnerId
        </dd>
        <dt class="col-sm-2">
            Tên
        </dt>
        <dd class="col-sm-10">
            @Model.LastMidName
        </dd>
        <dt class="col-sm-2">
            Họ
        </dt>
        <dd class="col-sm-10">
            @Model.LastName
        </dd>
        <dt class="col-sm-2">
            Ngành
        </dt>
        <dd class="col-sm-10">
            @Model.Major?.MajorName
        </dd>
        <dt class="col-sm-2">
            Ngày Nhập Học
        </dt>
        <dd class="col-sm-10">
            @Model.EnrollmentDate
        </dd>
    </dl>
    
    <form asp-action="Delete" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="LearnerId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>

