@model IEnumerable<DatabaseFirst.Models.SanPham>
@{
    ViewData["Title"] = "San Phams";
}
<h1>San Phams</h1>
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>MaSanPham</th>
            <th>TenSanPham</th>
            <th>DonGia</th>
            <th>SoLuong</th>
            <th>Loai</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MaSanPham</td>
            <td>@item.TenSanPham</td>
            <td>@item.DonGia</td>
            <td>@item.SoLuong</td>
            <td>@item.MaLoaiNavigation?.TenLoai</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>