@model IEnumerable<CodeFirst.Models.LoaiSanPham>

@{
    ViewData["Title"] = "Loại sản phẩm";
}

<h1>Loại sản phẩm</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.First()!.MaLoai)</th>
            <th>@Html.DisplayNameFor(m => m.First()!.TenLoai)</th>
            <th>@Html.DisplayNameFor(m => m.First()!.TrangThai)</th>
            <th style="width:180px;"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@Html.DisplayFor(_ => item.MaLoai)</td>
            <td>@Html.DisplayFor(_ => item.TenLoai)</td>
            <td>@Html.DisplayFor(_ => item.TrangThai)</td>
            <td class="text-end">
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-warning">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
