@model IEnumerable<CodeFirst.Models.HoaDon>

@{
    ViewData["Title"] = "Hóa đơn";
}

<h1>Hóa đơn</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.First()!.MaHoaDon)</th>
            <th>Khách hàng</th>
            <th>@Html.DisplayNameFor(m => m.First()!.NgayHoaDon)</th>
            <th>@Html.DisplayNameFor(m => m.First()!.NgayNhan)</th>
            <th>@Html.DisplayNameFor(m => m.First()!.TongTriGia)</th>
            <th>@Html.DisplayNameFor(m => m.First()!.TrangThai)</th>
            <th style="width:220px;"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@Html.DisplayFor(_ => item.MaHoaDon)</td>
            <td>@(item.KhachHang?.MaKhachHang)</td>
            <td>@Html.DisplayFor(_ => item.NgayHoaDon)</td>
            <td>@Html.DisplayFor(_ => item.NgayNhan)</td>
            <td>@Html.DisplayFor(_ => item.TongTriGia)</td>
            <td>@Html.DisplayFor(_ => item.TrangThai)</td>
            <td class="text-end">
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-warning">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
